[submodule "lib/rest-api"]
	path = lib/rest-api
	url = https://github.com/WP-API/WP-API.git
[submodule "lib/msm-sitemap"]
	path = lib/msm-sitemap
	url = https://github.com/Automattic/msm-sitemap.git
[submodule "lib/wordpress-objects"]
	path = lib/wordpress-objects
	url = https://github.com/danielbachhuber/wordpress-objects.git
[submodule "lib/fieldmanager"]
	path = lib/fieldmanager
	url = https://github.com/alleyinteractive/wordpress-fieldmanager.git
