@media #{$medium-up} {
	.break-medium-up {
		display: block;
		margin-bottom: 2rem;
	}
}

a.inverse {
	background-color: $primary-color;
	color: $white;
}

.pricing-grid {
	li {
		padding: 0;
	}
}

pre {
	background-color: scale-color($black, $lightness: 10%);
}
