header.site-header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	
	.header-nav {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	
	.site-title {
		font-size: 1.25rem;
		@media #{$medium-up} {
			font-size: 1.75rem;
		}
	}
}
