header.site-header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	.header-nav {
		margin-top: 0.5rem;
		margin-bottom: 0;
		@media #{$medium-up} {
			float: right;
		}
	}
	
	.site-title {
		font-size: 1.75rem;

		img {
			height: 2rem;
			margin-right: .25rem;
			margin-top: -0.4rem;
		}
	}

	.connect {
		font-size: 0.8rem;
		margin-bottom: 0;
		li {
			margin-left: 0.8rem;
		}
		a {
			color: $medium-grey-color;
			&:hover {
				color: inherit;
			}
		}
	}
}
