header.site-header {
	padding-top: 2rem;
	
	.header-nav {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	
	.site-title {
		font-size: 1.75rem;

		img {
			height: 2rem;
			margin-right: .25rem;
			margin-top: -0.4rem;
		}
	}

	.social {
		margin-left: 0.5rem;
		a {
			color: $medium-grey-color;
			&:hover {
				color: inherit;
			}
		}
	}
}
