header.page-header h2 {
	margin-bottom: 1rem;

	small {
		font-size: 40%;
		vertical-align: middle;
		color: $medium-grey-color;
	}
}

body.home .page-content {
	padding-top: 2rem;
}

.page-content h3 {
	margin-bottom: 0.7rem;
}
